# Shiborious Settings

USER_FILE = '/opt/shiborious/shib-users.txt'

DB_HOST = 'localhost'
DB_USER = 'gitorious'
DB_PASSWD = 'secret'
DB_NAME = 'gitorious_production'

FORM_URL = 'https://code.example.org/gitorious/sessions'
